<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<style>
    .lower-latin {list-style-type:lower-latin; padding-left: 40px;}
    .circle {list-style-type:disc; padding-left: 80px;}
</style>

<title>
DARS - NHS
</title>

<link href="https://www.nhs.uk/" rel="preconnect">
<link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>

<link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
<link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
<link href="/css/main.css" rel="stylesheet">
<link href="/css/in-line.css" rel="stylesheet">
<link href="/css/nhsuk.css" rel="stylesheet">
<script src="/nhsuk-frontend/nhsuk.min.js" defer></script>
<link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
<link rel="mask-icon" href="/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
<link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicons/favicon-192x192.png">

</head>
<body class="">

<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<header class="nhsuk-header" role="banner">
<div class="nhsuk-width-container nhsuk-header__container app-width-container">
<div class="nhsuk-header__logo"><a class="nhsuk-header__link nhsuk-header__link--service " href="/" aria-label="NHS digital service manual homepage">
<svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
<path class="nhsuk-logo__background" d="M0 0h40v16H0z"></path>
<path class="nhsuk-logo__text" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
</svg>
<span class="nhsuk-header__service-name">
Data Access Request Service
</span>
</a>
</div>

<div class="l-pro-signlink">Janey Mcgregor&nbsp;&nbsp;&nbsp;<a href="#" class="l-signout">Sign out</a></div>

<div class="nhsuk-header__content" id="content-header">

<div class="nhsuk-header__menu">
<button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
</div>
</div>

</div>

<nav class="nhsuk-header__navigation app-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
<div class="nhsuk-width-container app-width-container">
<p class="nhsuk-header__navigation-title"><span id="label-navigation">Menu</span>
<button class="nhsuk-header__navigation-close" id="close-menu">
<svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
<path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
</svg>
<span class="nhsuk-u-visually-hidden">Close menu </span>
</button>
</p>
<ul class="nhsuk-header__navigation-list">


<li class="nhsuk-header__navigation-item app-header__navigation-item__item--current">
<a class="nhsuk-header__navigation-link" href="/">
Manage applications
<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"  width="34" height="34">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg>
</a>
</li>

<li class="nhsuk-header__navigation-item">
<a class="nhsuk-header__navigation-link" href="/dashboard/dsa/status-expire">
Manage DSAs
<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"  width="34" height="34">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg>
</a>
</li>

<li class="nhsuk-header__navigation-item">
<a class="nhsuk-header__navigation-link" href="/dashboard/dsfc">
Data Sharing Framework Contract
<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"  width="34" height="34">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg>
</a>
</li>
  
<li class="nhsuk-header__navigation-item ">
<a class="nhsuk-header__navigation-link" href="/get-help">
Help
<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"  width="34" height="34">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg>
</a>
</li>
  
<li class="nhsuk-header__navigation-item ">
<a class="nhsuk-header__navigation-link" href="/dashboard/latest-news">
Updates
<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"  width="34" height="34">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg>
</a>
</li>
  
<li class="nhsuk-header__navigation-item ">
<a class="nhsuk-header__navigation-link" href="/guidance">
Guidance
<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"  width="34" height="34">
<path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
</svg>
</a>
</li>






</ul>
</div>
</nav>

</header>
<nav class="nhsuk-breadcrumb app-breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><strong>Reference Number:</strong> DARS-NIC-209174-W2H3G</li>
      <li class="nhsuk-breadcrumb__item" style="float: right;"><strong>Total Estimated Cost:</strong> £1234.50</li>
    </ol>
  </div>
</nav>


<div class="nhsuk-width-container ">
<div class="nhsuk-back-link nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0">
<a class="nhsuk-back-link__link" href="/dsa-section-list">
<svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
</svg>
Go back</a>

</div>        


<main class="nhsuk-main-wrapper " id="maincontent" role="main">
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">



<br />

<br />
<h1><span class="nhsuk-caption-l nhsuk-caption--bottom ">
Objective(s) and processing activities
</span>
Check your answers
</h1>

<hr class="nhsuk-section-break nhsuk-section-break--visible">
<table role="table" class="nhsuk-table-responsive">
    <!-- <caption class="nhsuk-table__caption">Ibuprofen tablet dosages for children</caption> 
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          What is the objective(s) for processing the data? 
        </th>
        <th role="columnheader" class="" scope="col">
            
        </th>
        <th role="columnheader" class="" scope="col">
  
        </th>
      </tr>-->
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <th role="columnheader" class="" scope="col">
          What is the objective(s) for processing the data? 
        </th>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">An answer </span>The data provided by the Pseudonymised HES Extract Service will be used by the Local Authorities in fulfilment of its public health function, specifically to support and improve: 

1.  the local responsiveness, targeting and value for money of commissioned public health services; 
2.  the statutory ‘core offer’ public health advice and support provided to local NHS commissioners; 
3.  the local specificity and relevance of the Joint Strategic Needs Assessments and Health and Wellbeing Strategies produced in collaboration with NHS and voluntary sector partners on the  Health and Wellbeing Board; 
4.  the local focus, responsiveness and timeliness of health impact assessments; and, among other benefits
5.  the capability of the local public health intelligence service to undertake comparative longitudinal analyses of patterns of and variations in: 
a.  the incidence and prevalence of disease and risks to public health; 
b.  demand for and access to treatment and preventative care services; 
c.  variations in health outcomes between groups in the population; 
d.  the level of integration between local health and care services; and 
e.  the local associations between causal risk factors and health status and outcomes. 

The main statutory duties and wider public health responsibilities supporting these processing objectives are as follows:

1.  Statutory public health duties that the data will be used to support

a)  Duty to improve public health: Analyses of the data will be used to support the duty of the Local Authority under Section 12 of the Health and Social Care Act 2012 to take appropriate steps to improve the health of the population, for example by providing information and advice, services and facilities, and incentives and assistance to encourage and enable people to lead healthier lives; 
b)  Duty to support Health and Wellbeing Boards: Analyses of the data will be used to support the duty of the Local Authority and the Clinical Commissioning Group (CCG)-led Health and Wellbeing Board under Section 194 of the 2012 Act to improve health and wellbeing, reduce health inequalities, and promote the integration of health and care services; the data will also be used to support the statutory duty of Health and Wellbeing Boards under Section 206 of the 2012 Act to undertake Pharmaceutical Needs Assessments; 
c)  Duty to produce Joint Strategic Needs Assessments (JSNAs) and Joint Health and Wellbeing Strategies (JHWBs): Analyses of the data will be used to support the duty of the Local Authority under Sections 192 and 193 of the 2012 Act to consult on and publish JSNAs and JHWSs that assess the current and future health and wellbeing needs of the local population; 
d)  Duty to commission specific public health services: Analyses of the data will be used to support the Local Authority to discharge its duty under the Local Authorities Regulations 2013 to plan and provide NHS Health Check assessments, the National Child Measurement Programme, and open access sexual health services; 
e)  Duty to provide public health advice to NHS commissioners: Analyses of the data will be used by Local Authorities to discharge its duty under the 2013 Regulations to provide a public health advice service to NHS commissioners; 
f)  Duty to publish an annual public health report: Analyses of the data  will be used by Directors of Public Health to support their duty to prepare and publish an annual report on the health of the local population under Section 31 the 2012 Act; 
g)  Duty to provide a public health response to licensing applications: Analyses of the data will be used by the Director of Public Health to support their duty under Section 30 of the 2012 Act to provide the Local Authority’s public health response (as the responsible authority under the Licensing Act 2003) to licensing applications. 

2.  Wider public health responsibilities supported by analysis of the data

a)  Health impact assessments and equity audits: Analyses of the data will be used to assess the potential impacts on health and the wider social economic and environmental determinants of health of Local Authority strategic plans, policies and services; 
b)  Local health profiles: Analyses of the data will be used to support the production of locally-commissioned health profiles to improve understand of the health priorities of local areas and guide strategic commissioning plans by focusing, for example, on: 
i.  bespoke local geographies (based on the non-standard aggregation of LSOAs); 
ii. specific demographic, geographic, ethnic and socio-economic groups in the population; 
iii.  inequalities in health status, access to treatment and treatment outcomes; 
c)  Surveillance of trends in health status and health outcomes: Analyses of the data will be used for the longitudinal monitoring of trends in the incidence, prevalence, treatment and outcomes for a wide range of diseases and other risks to public health; 
d)  Responsive and timely local health intelligence service: Analyses of the data will be used to respond to ad hoc internal and external requests for information and intelligence on the health status and outcomes of the local population generated and received by the Director of Public Health and their team. 

These lists of the statutory duties and wider public health responsibilities of the Local Authority are not exhaustive but set the broad parameters for how the data will be used by the Local Authority to help improve and protect public health, and reduce health inequalities. All such use would be in fulfilment of the public health function of the Local Authority.

No sensitive data is requested under this application. The data provided would include derived demographic and geographic fields, the standard non-sensitive HES diagnostic and operative fields, and a common (across all Local Authorities) pseudoHESID to enable admissions to be linked over time.
        </p>
        <p><a href="#">- Hide</a></p>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"></span><a href="/why-you-are-applying/processing-why">Change</a>
        </td>
      </tr>
    </tbody>
  </table>
<hr class="nhsuk-section-break nhsuk-section-break--visible">

  <table role="table" class="nhsuk-table-responsive">
    <!-- <caption class="nhsuk-table__caption">Ibuprofen tablet dosages for children</caption> 
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
        Processing activities
        </th>
        <th role="columnheader" class="" scope="col">
            
        </th>
        <th role="columnheader" class="" scope="col">
  
        </th>
      </tr>
    </thead>-->
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <th role="columnheader" class="" scope="col">
        Processing activities
        </th>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">An answer </span><p>The Pseudonymised HES Extract Service will enable the Local Authority to undertake a wide range of locally-determined and locally-specific analyses to support the effective and efficient discharge of its statutory duties in relation to health, and wider public health responsibilities. 

Access to the data is provided to the Local Authority only, and will only be used for the health purposes outlined above.  The data will only be processed by Local Authority employees in fulfillment of their public health function, and will not be transferred, shared or otherwise made available to any third party, including any organisations processing data on behalf of the Local Authority or in connection with their legal function. Such organisations may include Commissioning Support Units, Data Services for Commissioners Regional Offices, any organisation for the purposes of health research, or any Business Intelligence company providing analysis and intelligence services (whether under formal contract or not).

The Local Authority will use the data to produce a range of quantitative measures (counts, crude and standardised rates and ratios) that will form the basis for a range of statistical analyses of the fields contained in the supplied data. Typical uses will include: 

1.  Analyses of disease incidence, prevalence and trends: The age, sex, LSOA, ethnic group, Indices of Deprivation and diagnosis fields typically will be used to produce directly standardised disease admission rates for the Local Authority, and for appropriate benchmark and comparator areas. Confidence intervals will then be produced for these rates, and the rates analysed using statistical process control methods, to determine whether there are any significant variations in the prevalence of disease within the Local Authority. The data will also be used to analyse changes over time in the prevalence of disease. The results of these analyses will then be used to inform the production of local health profiles, JSNAs and JHWSs; support the ‘core offer’ public health advice provided by the Director of Public Health to NHS commissioners; and advise any enquiries into health inequalities requested by the Health and Wellbeing Board. 

2.  Analyses of hospital admission rates: The data will also be used, for example, to produce comparative and longitudinal hospital admission rates among different popoulation groups. For example, examining admissions for children and young people, particularly for injury and self-harm, to support the overarching responsibility of the Local Authority to safeguard and promote the health and welfare of all children and young people under the 1989 and 2004 Children Acts. Statistics based on these analyses will be used by the Director of Public Health to advise the Director of Children’s Services and Lead Member for Children’s Services, and inform and guide the provision of safeguarding services by the Local Authority. 

Conditions of supply and controls on use

In addition to those outlined elsewhere within this application, the Local Authorities will:

1.  only use the HES data for the purposes as outlined in this agreement; 
2.  comply with the requirements of the NHS Digital Code of Practice on Confidential Information, the Caldicott Principles and other relevant statutory requirements and guidance to protect confidentiality; 
3.  not attempt any record-level linkage of HES data with other data sets held by the Local Authority, or attempt to identify any individuals from the HES data; 
4.  not transfer and disseminate record-level HES data to anyone outside the Local Authority; 
5.  not publish the results of any analyses of the HES data unless safely de-identified in line with the anonymisation standard; and
6.  comply with the guidelines set out in the HES Analysis Guide;
7.  ensure role-based control access is in place to manage access to the HES data within the Local Authority. 

The Director of Public Health will be the Information Asset Owner for the HES data and be responsible on behalf of the Local Authority to NHS Digital for ensuring that the data supplied is only used in fulfilment of the approved public health purposes as set out in this application.  The Local Authority confirms that the Director of Public Health is a contracted employee to the permanent role within the Local Authority, accountable to the Chief Executive.

Data retention
A maximum of ten years data will be retained at any point, such that as each new data year is received, the oldest year will be deleted (i.e. at any point in time only ten historic years of data plus the current year may be held). The Local Authority will securely destroy the year’s data within six weeks of receiving the latest annual dataset and provide a data destruction certificate to NHS Digital.

The historic data will be used by the Local Authority in fulfilment of its public health function, and specifically to:

a)  recognise and monitor trends in disease incidence and prevalence and other risks to public health; 
b)  recognise and monitor trends in treatment patterns, particularly hospital readmissions, and outcomes; 
c)  recognise and monitor trends in access to treatment and care between demographic, geographic, ethnic and socio-economic groups in the population; and
d)  recognise and monitor trends in the association between the wider social, economic and environmental determinants of health and health outcomes

for the purpose of informing the planning, commissioning and provision of effective health and care services at a local level.
        </p>
        <p><a href="#">- Hide</a></p>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading"></span><a href="/why-you-are-applying/processing-activities">Change</a>
        </td>
      </tr>
    </tbody>
  </table>

  

<br /><br />
<a href="/why-you-are-applying/have-you-completed-objective" class="nhsuk-button"> Save and continue</a><br />



</div>  
</div>
</main>
</div>



<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="/about-us" class="nhsuk-footer__list-item-link" target="_blank">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Accessibility</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://digital.nhs.uk/about-nhs-digital/contact-us/freedom-of-information" class="nhsuk-footer__list-item-link" target="_blank">Freedom of information</a></li>
        <li class="nhsuk-footer__list-item"><a href="https://digital.nhs.uk/about-nhs-digital/privacy-and-cookies" class="nhsuk-footer__list-item-link" target="_blank">Privacy and cookies</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Change cookie settings</a></li>
        <li class="nhsuk-footer__list-item"><a href="/contact-us" class="nhsuk-footer__list-item-link" target="_blank">Contact us </a></li>
        <li class="nhsuk-footer__list-item"><a href="https://digital.nhs.uk/about-nhs-digital/terms-and-conditions" class="nhsuk-footer__list-item-link" target="_blank">Terms and conditions </a></li>
        <li class="nhsuk-footer__list-item"><a href="https://digital.nhs.uk/data" class="nhsuk-footer__list-item-link" target="_blank">Data</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>




<!-- Custom JavaScript files can be added to this file -->
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/main.js"></script>

<script src="/js/auto-store-data.js"></script>


</body>
</html>